<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile *ngFor="let album of (albums$ | async)">
    <mat-card class="app-artist-album">

      <mat-card-header>
        <mat-card-title>{{album.name}}</mat-card-title>
      </mat-card-header>

      <img mat-card-image [src]="getImageForArtist(album.images)" [alt]="album.name + ' Album'">
      <mat-card-content>
        <p>
          <span *ngFor="let genre of album.genres">{{genre}}</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VIEW ALBUM DETAILS</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<section *ngIf="!(albums$ | async).length"
         class="app-no-results">
  No albums here, maybe try another artist...
</section>
