<mat-nav-list *ngIf="(results$ | async).length"
              class="app-list">

  <a mat-list-item
     href
     *ngFor="let artist of (results$ | async)"
     (click)="selectArtist($event, artist)">

    <!-- Artist Profile Image or a local placeholder from assets -->
    <img matListAvatar
         [src]="getImageForArtist(artist.images) || '../assets/unknown-artist-512.png'"
         [alt]="artist.name + ' image'" />

    <!-- Artist name -->
    <span class="app-list__artist-name">{{ artist.name }}</span>

  </a>

</mat-nav-list>

<section *ngIf="!(results$ | async).length"
         class="app-no-results">
  No results here, try to search for something...
</section>
